<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
    <%- include('partials/navbar') %>

    <main>
      <%- body %>
    </main>

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
  </body>
</html>
